@model Telekomunikacije.Models.ApplicationUser
@{
    ViewBag.Title = "MembersInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit", "Members"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IndexNumber)
        @Html.TextBoxFor(x => x.IndexNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    </div>
    

    <button type="submit" class="btn btn-primary">Sacuvajte Izmene</button>
}
