@model Telekomunikacije.ViewModels.UserRoleManageViewModel

@{
    ViewBag.Title = "RoleInfo";
}

<h2>@Model.UserRoleViewModel.UserName</h2>
<h3>Trenutne role korisnika @Model.UserRoleViewModel.UserName</h3>
@using (Html.BeginForm("GetRoles", "Members"))
{    
    @Html.HiddenFor(m => m.UserRoleViewModel.Id)
    <button type="submit" class="btn btn-primary">Osvezi</button>
}
<ul>
    @foreach (var item in Model.UserRoleViewModel.IdentityRoles)
    {
        <li>
            @item.Name
        </li>
    }
</ul>
@using (Html.BeginForm("RoleAddToMember", "Members"))
{
<div class="form-group">
    @Html.DropDownList("Id", new SelectList(Model.AllRoles, "Id", "Name"), "Izaberi", new { @class = "form-control" })
    @Html.HiddenFor(m => m.UserRoleViewModel.Id)
    @ViewBag.ResultMessage1
</div>
    <button type="submit" class="btn btn-primary">Dodaj Rolu Korisniku</button>
}

@using (Html.BeginForm("DeleteRoleForMember", "Members"))
{
<div class="form-group">
    @Html.DropDownList("Id", new SelectList(Model.AllRoles, "Id", "Name"), "Izaberi", new { @class = "form-control" })
    @Html.HiddenFor(m => m.UserRoleViewModel.Id)
    @ViewBag.ResultMessage2
</div>

    <button type="submit" class="btn btn-primary">Ukloni Rolu</button>
}
